@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');
:root {
    --main-color: #49A6E9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Monda', sans-serif;
    font-weight: 400;
}

header {
    width: 100%;
    display: flex;
    padding: 0px 300px;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 7px 12px -7px rgba(0, 0, 0, 0.99);
    box-shadow: 0px 7px 12px -7px rgba(0, 0, 0, 0.99);
}

header h1 {
    color: var(--main-color);
    font-size: 20px;
}

nav ul {
    display: flex;
    padding: 15px;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #000;
}

nav ul li a:hover {
    color: var(--main-color);
}

main {
    width: 100%;
    height: calc(100vh - 57px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main p {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
}

main p span {
    color: var(--main-color);
    margin-left: 10px;
}

.btn {
    padding: 15px 30px;
    background-color: transparent;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 22px;
    margin-top: 40px;
    outline: 0;
    border: 1px solid #000;
    cursor: pointer;
}